@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;800&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container-header {
  display: flex;
  width: 100%;
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  align-items: center;
  height: 7vh;
}

.logo {
  display: flex;
  padding-left: 8vw;
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #3c3a39;
  color: #fff;
  width: 40%;
  margin: 0;
  text-decoration: none;
}

.navlink {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  margin: 0 0;
  border-bottom: solid 2px #6f6c6b;
  border-top-width: 10vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 3vh;
  height: 60px;
}

.button-list {
  position: fixed;
  left: -110%;
  top: 0;
  gap: 0;
  background-color: #3c3a39;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  height: 98%;
  line-height: 44px;
  flex: 1;
}

.x-close {
  margin-left: 77vw;
  margin-top: 5vh;
}

.button-list.active {
  left: 0;
}

.rod {
  background-color: #dbd8d7;
  flex: 1;
}

.a-nav-button {
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-left: 15px;
}

.hamburger-image {
  cursor: pointer;
  margin-right: 10vw;
}

.container-landingpage {
  background-color: #1c1a19;
  margin-top: 0;
  background-image: url(img/landingimage-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 105%;
  background-size: 32%;
  padding-top: 0;
  padding-bottom: 12vh;
  width: 100%;
}

.hey {
  margin-top: 0;
  margin-bottom: 1vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  color: #ff6b00;
  font-size: 56px;
  padding-top: 12vh;
  padding-left: 3vh;
  width: 90%;
}

.profession {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-left: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90%;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: 3vh;
  width: 80%;
}

.container-logos {
  width: 25vh;
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}

.list-social {
  list-style: none;
}
