@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;800&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container-header {
  display: flex;
  width: 100%;
}

.nav-bar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  width: 100%;
  align-items: center;
  height: 7vh;
}

.logo {
  display: flex;
  padding-left: 8vw;
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #3c3a39;
  color: #fff;
  width: 40%;
  margin: 0;
  text-decoration: none;
}

.navlink {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 44px;
  margin: 0 0;
  border-bottom: solid 2px #6f6c6b;
  border-top-width: 10vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 3vh;
  height: 60px;
}

.button-list {
  position: fixed;
  left: -110%;
  top: 0;
  gap: 0;
  background-color: #3c3a39;
  width: 100%;
  text-align: left;
  transition: 0.3s;
  height: 98%;
  line-height: 44px;
  flex: 1;
}

.x-close {
  margin-left: 77vw;
  margin-top: 5vh;
}

.button-list.active {
  left: 0;
}

.rod {
  background-color: #dbd8d7;
  flex: 1;
}

.a-nav-button {
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin-left: 15px;
}

.hamburger-image {
  cursor: pointer;
  margin-right: 10vw;
}

.container-landingpage {
  background-color: #1c1a19;
  margin-top: 0;
  background-image: url(img/landingimage-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 105%;
  background-size: 32%;
  padding-top: 0;
  padding-bottom: 12vh;
  width: 100%;
}

.hey {
  margin-top: 0;
  margin-bottom: 1vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  color: #ff6b00;
  font-size: 56px;
  padding-top: 12vh;
  padding-left: 3vh;
  width: 90%;
}

.profession {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  margin-left: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 90%;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: 3vh;
  width: 80%;
}

.container-logos {
  width: 25vh;
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}

.list-social {
  list-style: none;
}

/* --------STARTS SECTION WORKS MOBILE----------------- */

.works {
  width: 100%;
  background-color: white;
}

.header-works {
  font-family: 'Crete Round', serif;
  font-size: 40px;
  margin-left: 5%;
  font-weight: 300;
  color: #1c1a19;
  margin-top: 20vh;
}

.division {
  width: 90%;
  height: 2px;
  margin-bottom: 10vh;
  color: #212121;
  margin-left: 5vw;
}

.image1 {
  width: 90%;
  margin-left: 5%;
}

.header-posts {
  margin-left: 5%;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  font-size: 32px;
}

.posts-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5%;
  margin-right: 7%;
  color: #091e42;
}

.list-tools {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-left: 5%;
  margin-right: 10%;
  align-content: center;
  gap: 2vh;
  margin-top: 2vh;
}

.container-cards {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  border: solid 1px #8993a4;
  height: 6vh;
}

.item:first-child {
  width: 9vh;
}

.item:nth-child(2) {
  width: 10vh;
}

.item:nth-child(3) {
  width: 14vh;
}

.item:last-child {
  width: 9vh;
}

.card-heading {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  padding-top: 10vh;
  padding-left: 2vh;
  margin-bottom: 1vh;
}

.card-paragraph {
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  padding-left: 2vh;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.card {
  background-image: url(img/card-background1.png);
  background-size: cover;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0;
  color: #fff;
  height: 470px;
  flex: 1;
}

.cardlist {
  margin-bottom: 8vh;
  padding-left: 2vh;
  display: flex;
  justify-content: space-between;
  width: 73%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  border: solid 1px rgba(255, 255, 255, 0.24);
  margin-top: 2vh;
}

.list:first-child {
  height: 6vh;
  width: 16vw;
}

.list:nth-child(2) {
  height: 6vh;
  width: 24vw;
}

.list:last-child {
  height: 6vh;
  width: 18vw;
}

.container-seeproject-button {
  position: relative;
  margin-bottom: 0;
}

.button1 {
  margin-left: 5%;
  height: 6.5vh;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  width: 40%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

.button {
  height: 6.5vh;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  border: none;
  width: 100%;
}

/* -------ENDS SECTION CONTAINER WORKS MOBILE----------- */

/* --------------STARTS SECTION ABOUT ME------------- */
.aboutme {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  margin-top: 17vh;
  background-image: url(img/illustration-about-me-mobile.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 30%;
  padding-bottom: 10vh;
  width: 100%;
}

.headeraboutme {
  margin-bottom: 1vh;
  font-family: 'Crete Round', serif;
  font-weight: lighter;
  color: #ff6b00;
  font-size: 72px;
  padding-top: 12vh;
  margin-left: 3vh;
  width: 80%;
}

.hello {
  color: #f4f5f7;
  font-size: 15px;
  width: 75%;
}

.getmyresume {
  width: 44vw;
  margin-top: 3vh;
  margin-bottom: 30vh;
  margin-left: 5vw;
}

.division-line1 {
  height: 2px;
}

.container-divisionline2 {
  display: flex;
  justify-content: center;
}

.subcontainer-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.languagesquare {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  display: inline-block;
  margin-bottom: 2vh;
  padding-left: 1vh;
}

.title1 {
  margin-top: 8vh;
}

.title2 {
  margin-top: 2vh;
  padding-left: 2vh;
}

.title3 {
  margin-top: 2vh;
}

.square90 {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ff6b00;
  transform: rotate(45deg);
  display: inline-block;
}

.listaboutlanguages {
  display: flex;
  flex-direction: column;
  padding-left: 0%;
  align-items: center;
}

.aboutlanguage {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  list-style: none;
  color: #fff;
  padding-bottom: 3vh;
}

.square {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #ff6b00;
  margin-right: 0%;
  display: inline-block;
}

.circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 150px;
  background-color: #ff6b00;
  margin-right: 0%;
  display: inline-block;
}

/* -------ENDS SECTION ABOUTME MOBILE----------- */

@media (max-width: 380px) {
  .card {
    height: 400px;      /* See project button moves up too much @375px screen width */
  }                     /* Card is a bit smaller at this size to keep button at bottom */
}

/* --------------STARTS SECTION CONTACTME MOBILE------------- */

.contactme {
  display: flex;
  flex-direction: column;
}

.always {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 83%;
  margin-left: 7%;
  line-height: 44px;
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.contactform {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}

.name,
.email {
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.message {
  background-color: #fbf8f7;
  border: none;
  height: 17vh;
  margin-top: 0;
}

.name::placeholder,
.email::placeholder {
  padding-left: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #979493;
}

.message::placeholder {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #3c3a39;
}

.container-touch {
  display: flex;
  justify-content: center;
}

.button1:nth-child(2) {
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.social-icons-form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  align-items: baseline;
}

.division-line2 {
  background-color: #dbd8d7;
  width: 100%;
  margin-bottom: 4vh;
}

.division-line3 {
  width: 100%;
  margin-bottom: 0;
  margin-top: 2vh;
  background-color: #dfe1e6;
}

.division-line4 {
  height: 5px;
  background-color: #212121;
  width: 40%;
  margin-bottom: 1vh;
  margin-top: 3vh;
  margin-left: 30vw;
}

footer {
  display: flex;
  flex-flow: row wrap;
}

/* -----------ENDS SECTION CONTACTME MOBILE------------- */
